body {
    margin: 0px;
    padding: 0px;
}

footer {
    grid-area: footer;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

/* estilos nav bar */
#logoHeader{
    height: 80px;
    margin-top: 5px;
    margin-left: 15px;
}
.navbar {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.linkBar {
    background-color: blueviolet;
}
.navbar--position {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Mochiy Pop One', sans-serif;
    list-style: none;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    transition: color .2s;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: yellow;
}

#search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    
}
.searchBar{
    display: flex;
    justify-content: end !important;
    margin: 20px 0px;
}

.searchBar input{ 
    width: 300px;
}

/* estilos tira imagenes */
.tira {
    grid-area: tira;
    background-image: url(https://image.freepik.com/free-vector/pastries-desserts-collection-set-hand-drawn-style_34259-414.jpg);
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.5);
    margin-top: 180px;
}
.resumen__fondo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fotoTira {
    height: 300px;
    padding: 10px;
    display: flex;
}
/* estilos descripcion */
.descripcion {
    grid-area: desc;
    padding: 30px 60px;
}
/* estilos footer */
#logoFooter {
    height: 80%;
    padding-left: 60px;
}
footer div {
    display: flex;
    align-items: center;
}
.links__footer {
    display: flex;
}
.links__footer h3 {
    padding: 0 100px 0 50px;
    border-right-style: solid;
    border-right-color: indigo;
    border-right-width: 5px;
}
.links__footer h3:last-child{
    border: none;
}

.indiceProductos {
    grid-area: indice;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.listaProductos {
    grid-area: contenido;
    padding: 40px 20px;
}

th img {
    height: 100px;
    padding: 5px;
}
td {
    text-align: center;
}

/*estilos contenido productos*/
.productoInfo {
    display: flex;
    margin-bottom: 10px;
}
.productoInfo img {
height: 200px;
}
.nombreProducto {
    padding-left: 10px;
}

.titulo__pedido {
    grid-area: titulo;
    display: flex;
    flex-basis: content;
}
.pedido {
    grid-area: pedido;
    background-image: url(https://image.freepik.com/free-vector/pastries-desserts-collection-set-hand-drawn-style_34259-414.jpg);
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.5);
    padding: 30px 30px;
    margin-bottom: 40px;
    margin-top: 150px;
}
/* estilos pedidos */

.pedido form {
    background-color: #ffffffd6;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.54);
}

.form-check {
    margin-bottom: 10px;
}
.aclaraciones {
    margin: 20px 0px;
}
.titulo__pedido {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 30px;
    margin-left: 20px;
}

.titulo__seccion {
    font-family: 'Mochiy Pop One', sans-serif;
    padding-left: 20px;
    margin-top: 30px;
}

#aclaraciones {
    width: 100%;
}

.botonComprar {
    margin-top: 20px;
}

.contenidoEventos {
    margin-top: 170px;
}

.evento {
    margin-bottom: 30px;
    justify-self: center;
}

.evento img {
    width: 300px;
    margin-bottom: 30px;
}

/*grid pagina Nosotros*/
.gridNosotros {
    display: grid;
    grid-template-areas: 
    "header nav"
    "search search"
    "equipo equipo"
    "ubicacion ubicacion"
    "footer footer";
    grid-template-columns: 20% 80%;
    grid-template-rows: 70px 60px auto auto 100px;
}

.nosotros {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.equipo {
    grid-area: equipo;
    margin-top: 160px;  
}

/*animacion foto equipo*/
@keyframes animacionEquipo {
    0% {width: 100%};
    50% {transform: scale(1.5,1.5)};
    100% {width: 100%};
}

.nosotros img {
    width: 600px;
    animation:animacionEquipo;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
}

.nosotros iframe {
    width: 600px;
    height: 450px;
}

.ubicacion {
    grid-area: ubicacion;
    margin-bottom: 40px;
}



/* vista mobile */
@media only screen and (min-width: 0px) and (max-width: 768px){
	/* Index */
	.gridContainer {
		display: grid;
		grid-template-areas: 
		"header"
        "nav"
        "search" 
        "tira"
        "desc"
        "footer";
		grid-template-columns: 100%;
		grid-template-rows: 80px 180px auto auto auto 100px;
    }
    /* Productos */
    .gridProductos {
		display: grid;
		grid-template-areas: 
		"header"
        "nav"
        "search" 
        "indice"
        "contenido"
        "footer";
		grid-template-columns: 100%;
		grid-template-rows: 80px 180px auto auto auto 100px;
    }
        /* Pedido */
        .gridPedido{
            display: grid;
            grid-template-areas: 
            "header"
            "nav"
            "search" 
            "titulo"
            "pedido"
            "footer";
            grid-template-columns: 100%;
            grid-template-rows: 80px 180px auto auto auto 100px;
        }

        /* Eventos */
        .gridEventos{
            display: grid;
            grid-template-areas: 
            "header"
            "nav"
            "search" 
            "evento1"
            "evento2"
            "footer";
            grid-template-columns: 100%;
            grid-template-rows: 80px 180px auto auto auto 100px;
        }

        /* Nosotros */
        .gridNosotros{
            display: grid;
            grid-template-areas: 
            "header"
            "nav"
            "search" 
            "equipo"
            "ubicacion"
            "footer";
            grid-template-columns: 100%;
            grid-template-rows: 80px 180px auto auto auto 100px;
        }

    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
    }
    form {
        grid-area: search;
    }
    .indiceProductos {
        grid-area: indice;
    }
    .listaProductos {
            grid-area: contenido;
    }
    .titulo__pedido {
        grid-area: titulo;
    }
    .pedido {
        grid-area: pedido;
        margin-top: 190px;
    }

    footer {
        grid-area: footer;
    }


    /* estilos nav bar */
    #logoHeader{
        height: 80px;
        margin-top: 5px;
        margin-left: 0;
    }
    .logoIndex {
        display: flex;
        justify-content: center;
    }
    .navbar__background {
        background-color:blueviolet;
    }
    .navbar--position {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    #search {
        padding-right: 5px;
    }
    .searchBar{
        padding: 5px 15px;
    }
    .resumen__fondo img:not(:first-child) {
        display: none;
    }

     /* estilos footer */
    #logoFooter {
        display: none;
    }
    .links__footer h3 {
        padding: 0 10px;
        border-right-style: solid;
        border-right-color: indigo;
        border-right-width: 5px;
    }
    footer{
        justify-content: center;
    }

/* estilos seccion Productos */
    .productoInfo {
        flex-direction: column;
    }
    th > img {
        display: none;
    }
    td {
        padding: 0 10px;
    }

    /* estilos seccion Pedido */
    .titulo__pedido {
        font-size: 25px;
        padding-left: 15px;
    }

    .contenidoEventos {
        margin-top: 200px;
    }
    
    .evento {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .evento > img:nth-last-of-type(-n + 2) {
        display: none;
    }

    /* estilos seccion Nosotros */
    .nosotros img {
        width: 300px;
    }
    
    .nosotros iframe {
        width: 300px;
        height: 225px;
    }


}
/* FIN vista mobile index*/
