body {
  margin: 0px;
  padding: 0px; }

#logoHeader {
  height: 80px;
  margin-top: 5px;
  margin-left: 15px; }

.navbar {
  display: flex;
  flex-direction: column;
  padding: 0; }

.linkBar {
  background-color: blueviolet; }

.navbar--position {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: 'Mochiy Pop One', sans-serif;
  list-style: none; }

.fixed-top {
  position: relative; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  transition: color .2s; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: yellow; }

#search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px; }

.searchBar {
  display: flex;
  justify-content: end !important;
  margin: 20px 0px; }

.searchBar input {
  width: 300px; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  #logoHeader {
    height: 80px;
    margin-top: 5px;
    margin-left: 0; }
  .logoIndex {
    display: flex;
    justify-content: center; }
  .navbar__background {
    background-color: blueviolet; }
  .navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.9); }
  .navbar--position {
    flex-direction: column;
    align-items: center;
    padding-left: 0; }
  #search {
    padding-right: 5px; }
  .searchBar {
    padding: 5px 15px; }
  .resumen__fondo img:not(:first-child) {
    display: none; } }

/* estilos Productos */
.tira {
  margin-top: 50px; }

.resumen__fondo {
  display: flex;
  align-items: center;
  justify-content: center; }

.fotoTira {
  padding: 10px;
  display: flex; }

/* estilos descripcion */
.descripcion {
  margin: 30px 60px; }

/* estilos productos */
.indiceProductos {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }

.card-group {
  margin-top: 50px;
  width: fit-content; }

.card-title {
  text-align: center; }

.listaProductos {
  padding: 60px 20px; }

.tituloLink {
  margin: 20px 50px;
  border-color: #F5F5DC;
  border-width: 10px;
  border-style: dotted;
  font-family: 'Mochiy Pop One', sans-serif;
  text-align: center;
  padding: 10px 0px;
  font-size: 25px; }

.productoInfo {
  display: flex;
  margin-bottom: 10px; }
  .productoInfo:nth-of-type(odd) {
    background-color: #F5F5DC; }

.linksProductos {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: flex;
  justify-content: center; }

.productoInfo {
  display: grid;
  grid-template-columns: 25% 70%;
  margin-left: 50px;
  margin-right: 50px; }

.fotoProducto {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%; }

.nombreProducto {
  grid-column: 2;
  grid-row: 1;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 22px; }

.descripcionProducto {
  grid-column: 2;
  grid-row: 2;
  margin-left: 20px; }

/* estilos eventos */
.contenidoEventos {
  margin-top: 50px; }

.evento {
  margin-bottom: 30px;
  justify-self: center; }

/* estilos pedidos */
.titulo__pedido {
  display: flex;
  flex-basis: content; }

.pedido {
  padding: 30px 30px;
  margin-bottom: 40px;
  margin-top: 50px; }

.pedido form {
  background-color: #ffffffd6;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.54); }

.form-check {
  margin-bottom: 10px; }

.aclaraciones {
  margin: 20px 0px; }

.titulo__pedido {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 30px;
  margin-left: 20px; }

.titulo__seccion {
  font-family: 'Mochiy Pop One', sans-serif;
  padding-left: 20px;
  margin-top: 30px; }

#aclaraciones {
  width: 100%; }

.botonComprar {
  margin-top: 20px; }

/*grid pagina Nosotros*/
.nosotros {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.equipo {
  margin-top: 50px; }

.nosotros iframe {
  width: 600px;
  height: 450px; }

.ubicacion {
  margin-bottom: 40px; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  /* estilos Productos mobile */
  .card-group {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: center; }
  .card-title {
    height: 15px;
    font-size: 20px; }
  .tituloLink {
    border-color: #F5F5DC;
    border-width: 10px;
    border-style: dotted;
    font-family: 'Mochiy Pop One', sans-serif;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px; }
  .productoInfo {
    display: grid;
    grid-template-columns: 100%;
    margin-left: 20px;
    margin-right: 20px; }
  .fotoProducto {
    width: 100%; }
  .nombreProducto {
    grid-column: 1;
    grid-row: 3;
    margin-top: 10px; }
  .descripcionProducto {
    grid-column: 1;
    grid-row: 4; }
  /* estilos Eventos mobile */
  .titulo__pedido {
    font-size: 25px;
    padding-left: 15px; }
  .contenidoEventos {
    margin-top: 60px; }
  .evento {
    display: flex;
    flex-direction: column;
    align-items: center; }
  /* estilos Pedido mobile */
  .titulo__pedido {
    margin-top: 30px;
    font-size: 25px;
    padding-left: 15px; }
  /* estilos nosotros mobile */
  .nosotros iframe {
    width: 300px;
    height: 225px; } }

footer {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  height: 100px; }

#logoFooter {
  height: 80%;
  padding-left: 60px; }

footer div {
  display: flex;
  align-items: center; }

.links__footer {
  display: flex; }

.links__footer .footerTitulo {
  display: flex;
  padding: 0 50px 0 50px;
  border-right-style: solid;
  border-right-color: blueviolet;
  border-right-width: 5px; }
  .links__footer .footerTitulo:last-child {
    border: none; }

.footerTitulo {
  flex-direction: column;
  font-size: 23px;
  font-weight: 500; }

.footerContenido {
  flex-direction: column;
  font-size: 16px;
  font-weight: 400; }

.footerTitulo .redes {
  display: flex; }

a {
  color: inherit; }

.iconosRedes {
  flex-direction: row;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 3px; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  #logoFooter {
    display: none; }
  .links__footer .footerTitulo {
    padding: 0 10px;
    border-right-style: solid;
    border-right-color: blueviolet;
    border-right-width: 5px; }
  footer {
    justify-content: center; }
  .footerTitulo {
    flex-direction: column;
    font-size: 18px;
    font-weight: 400; }
  .footerContenido {
    flex-direction: column;
    font-size: 12px; } }

.fondoTransparencia, .tira, .pedido {
  background-image: url(https://image.freepik.com/free-vector/pastries-desserts-collection-set-hand-drawn-style_34259-414.jpg);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-left: 0px; }

/* imagenes Productos */
.fotoTira {
  width: 100%; }

/* imagenes Productos */
.card img {
  height: 150px;
  padding: 5px; }

/* imagenes Eventos */
.evento img {
  width: 300px;
  margin-bottom: 30px; }

/* imagenes Nosotros */
.nosotros img {
  width: 600px; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  /* imagenes Productos mobile */
  .card img {
    display: none; }
  .fotoProducto {
    width: 100%; }
  /* imagenes Eventos mobile */
  .evento > img:nth-last-of-type(-n + 2) {
    display: none; }
  /* estilos seccion Nosotros */
  .nosotros img {
    width: 300px; } }

/*animacion foto equipo*/
.felizAno {
  position: absolute;
  left: 30%;
  visibility: hidden; }

@keyframes animacionFeliz {
  0% {
    visibility: visible; }
  50% {
    transform: scale(1.5, 1.5); }
  100% {
    visibility: hidden; } }

#feliz {
  animation: animacionFeliz;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 2; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .felizAno {
    left: 0%; } }
