/*animacion foto equipo*/

.felizAno {
   position: absolute;
   left: 30%;
   visibility: hidden;
}

@keyframes animacionFeliz {
   0% {visibility: visible};
   50% {transform: scale(1.5, 1.5)};
   100% {visibility: hidden};
}

#feliz {
   animation:animacionFeliz;
   animation-duration: 1s;
   animation-timing-function: ease-in;
   animation-iteration-count: 2;
}

@media only screen and (min-width: 0px) and (max-width: 768px){
   .felizAno {
      left: 10%;
   }
}
