/* estilos Productos */

.tira {
    @extend.fondoTransparencia;
    margin-top: $marginTop;
}
.resumen__fondo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fotoTira {
    padding: 10px;
    display: flex;
}
/* estilos descripcion */
.descripcion {
    padding: 30px 60px;
}


/* estilos productos */

.indiceProductos {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.card-group {
    margin-top: $marginTop;
    width:fit-content;
}

.card-title {
    text-align: center;
}

.listaProductos {
    padding: 60px 20px;
}

.tituloLink {
    margin: 20px 50px;
    border-color: map-get($paletaColores,beige);
    border-width: 10px;
    border-style: dotted;
    font-family: 'Mochiy Pop One', sans-serif;
    text-align: center;
    padding: 10px 0px;
    font-size: 25px;
    }

.productoInfo {
    display: flex;
    margin-bottom: 10px;  
    &:nth-of-type(odd) {
        background-color: map-get($paletaColores,beige);
    } 
}

.linksProductos {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.productoInfo {
    display: grid;
    grid-template-columns: 25% 70%;
    margin-left: 50px;
    margin-right: 50px;
}
.fotoProducto {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
  }
  .nombreProducto {
    grid-column:  2;
    grid-row: 1;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 22px;
  }
  .descripcionProducto {
    grid-column: 2;
    grid-row: 2;
    margin-left: 20px;
  }

/* estilos eventos */

.contenidoEventos {
    margin-top: $marginTop;
}

.evento {
    margin-bottom: 30px;
    justify-self: center;
}

/* estilos pedidos */

.titulo__pedido {
    display: flex;
    flex-basis: content;
}
.pedido {
    @extend.fondoTransparencia;
    padding: 30px 30px;
    margin-bottom: 40px;
    margin-top: $marginTop;
}

.pedido form {
    background-color: #ffffffd6;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.54);
}

.form-check {
    margin-bottom: 10px;
}
.aclaraciones {
    margin: 20px 0px;
}
.titulo__pedido {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 30px;
    margin-left: 20px;
}

.titulo__seccion {
    font-family: 'Mochiy Pop One', sans-serif;
    padding-left: 20px;
    margin-top: 30px;
}

#aclaraciones {
    width: 100%;
}

.botonComprar {
    margin-top: 20px;
}

/*grid pagina Nosotros*/

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros {
    grid-column: 1/-1;
    @include flex-column-center;
}

.equipo {
    margin-top: $marginTop;  
}

.nosotros iframe {
    width: 600px;
    height: 450px;
}

.ubicacion {
    margin-bottom: 40px;
}


@media only screen and (min-width: 0px) and (max-width: 768px){

    /* estilos Productos mobile */

    .card-group {
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        justify-content: center;
    }

    .card-title {
        height: 15px;
        font-size: 20px;
    }

    .tituloLink {
        border-color: #F5F5DC;
        border-width: 10px;
        border-style: dotted;   
        font-family: 'Mochiy Pop One', sans-serif;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        }
        .productoInfo {
            display: grid;
            grid-template-columns: 100%;
            margin-left: 20px;
            margin-right: 20px;
        }
        .fotoProducto {
            width: 100%;
          }
          .nombreProducto {
            grid-column:  1;
            grid-row: 3;
            margin-top: 10px;
          }
          .descripcionProducto {
            grid-column: 1;
            grid-row: 4;
          }

    /* estilos Eventos mobile */
    .titulo__pedido {
        font-size: 25px;
        padding-left: 15px;
    }

    .contenidoEventos {
        margin-top: 60px;
    }
    
    .evento {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     /* estilos Pedido mobile */
    .titulo__pedido {
        margin-top: 30px;
        font-size: 25px;
        padding-left: 15px;
    }

    /* estilos nosotros mobile */
    .nosotros iframe {
        width: 300px;
        height: 225px;
    }
}



